body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #31ada1;
  color: #453c5c;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav li {
  margin: 10px 0;
}

nav li a {
  color: #453c5c;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
  color: #edb92e;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

main {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  text-align: center;
  margin: 10px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.project {
  margin-bottom: 20px;
  width: 300px;
}

.project h2 {
  margin-top: 0;
}

.project p {
  margin-bottom: 10px;
}

body {
  background-color: #59d999;
}

footer {
  background-color: #31ada1;
  color: #453c5c;
  padding: 20px;
  text-align: center;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info li i {
  margin-right: 5px;
}

.contact-info li a {
  color: #453c5c;
  text-decoration: none;
}

.project-link {
  display: inline-block;
  background-color: #31ada1;
  color: #453c5c;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
}

.project-link:hover {
  background-color: #ff8207;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 4px;
}
